@CHARSET "ISO-8859-1";

@CHARSET "UTF-8";

/* News ------------------------------------------------------------------------------- */

.news{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	min-width:1000px;
}

.news table{
    border-collapse: collapse;
    border: 2px black solid;
    min-width:450px;
}

table img{
	width:50px;
}

.news table tr , th , td{
	border: 2px black solid;
	padding:5px;
}

.news table caption{
	text-align:left;
	padding:5px 0px 5px 10px;
	background-color: rgb(158,37,0)
}

.newsSujets{
	display:inline-block;
	vertical-align:top;
	margin-right:20px;
	
}

.newsModifs{
	display:inline-block;
	vertical-align:top;
	margin:auto;
	margin-left:20px;
}
