@CHARSET "ISO-8859-1";

@CHARSET "UTF-8";
/* Général ------------------------------------------------------------------------------------- */

body{
	background-image : url(../images/fond.jpg);
}
header{
	text-align:center;
	height:50px;
}
body,p,legend, label, input {
    font: normal 8pt;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    
}



/* Forms --------------------------------------------------------------------------------------- */

form{
	display:block;
	vertical-align: top;
	margin-top:50px;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
h2{
	text-align: center;
}

fieldset {
    padding-left: 200px;
    padding-right : 200px;
    padding-bottom: 35px;
    border: 4px black outset;
    box-shadow: 3px 3px 0px grey;
    display:inline-block;
    text-align:left;
    background-color:white;
    position:absolute center;
}

form label {
    float: left;
    margin: 5px 0px 0px 0px;
    min-width:50px;
}

form input {
    margin: 5px 3px 0px 0px;
    border: 1px #999 solid;
    height:31px;
    padding-left:10px;
}

.connexion .id{
	background : url(../images/iconeid.png) no-repeat;
	color : grey;
	height:34px;
}

.connexion .pw{
	background : url(../images/iconepw.png) no-repeat;
	color : grey;
	height:34px;
}

form input.sansLabel {
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	background:url(../images/bouton-connexion.png) no-repeat;
	width:112px;
	height:34px;
	cursor:pointer;
}


form .erreur{
	color:red;
	position:absolute;
	z-index:1;

}

.connexion{
	text-align:center;
	position:relative;
}

