@CHARSET "ISO-8859-1";

@CHARSET "UTF-8";



form{
	margin-left:auto;
	margin-right:auto;
}

h2{
	text-align: center;
}

form label {
    float: left;
    margin: 5px 0px 0px 0px;
    min-width:50px;
}
input:focus{
	box-shadow: 0 0 5px rgba(68, 68, 68, 1);
}

form input {
	border: none;
   border-bottom: 2px solid rgb(158,37,0);
    height:34px;
    padding-left:10px;
    vertical-align:top;
    width:80%;
    
       background-color:rgb(250,250,250);
}
.inputspan{
	margin-bottom:5px;
	width:80%;
	margin-right:auto;
	margin-left:auto;
	position:relative;
}


form .erreur{
	color:red;
	position:absolute;
	right:150px;
	top:9px;
	font-size:80%;
	z-index:1;
	margin-right:-100px;
}

.button {
  display: block;
  border-radius: 4px;
  background-color: rgb(200,37,0);
 font-size:100%;
  border: none;
  text-align: center;
  padding: 10px;
  margin:auto;
  width: 170px;
  cursor: pointer;
  color: #FFFFFF;
  margin-top:10px;
 }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}
.button:hover{
	background-color: rgb(158,37,0);
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.divconnexion{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-left: 50px;
    padding-right : 50px;
    border: 4px black outset;
    width:70%;
    max-width:800px;
 background-color:white;
    padding-bottom:10px;
}

.check{
	width:15px;
	height:15px;
}
.check span{
	vertical-align:middle;
	line-height:35px;
	padding-top:20px;
}
.spancheck{
	text-align:left;
	margin-bottom:20px;
	width:80%;
	margin-right:auto;
	margin-left:auto;
	padding-left:75px;
}