@CHARSET "ISO-8859-1";

@CHARSET "UTF-8";



form{
	display:block;
	vertical-align: top;

	margin-left:auto;
	margin-right:auto;
}

h2{
	text-align: center;
}

form label {
    float: left;
    margin: 5px 0px 0px 0px;
    min-width:50px;
}

form input {
    margin: 5px 3px 0px 0px;
    border: 1px #999 solid;
    height:31px;
    padding-left:10px;
}
.inputspan {
	height:100px;
}
form input.sansLabel {
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	background:url(../images/bouton-connexion.png) no-repeat;
	width:112px;
	height:34px;
	cursor:pointer;
}


form .erreur{
	color:red;
	position:absolute;
	z-index:1;

}

.button {
  display: block;
  border-radius: 4px;
   background-image: url(../images/bouton-connexion.png);
 font-size:100%;
  border: none;
  text-align: center;
  padding: 10px;
  margin:auto;
  width: 150px;
  cursor: pointer;
  color: #FFFFFF;
  margin-top:10px;
 }

.divconnexion{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-left: 50px;
    padding-right : 50px;
    border: 4px black outset;
    box-shadow: 3px 3px 0px grey;
    width:61.5%;
    background-color:white;
    padding-bottom:10px;
}

