@CHARSET "ISO-8859-1";


.enTete{
	position:relative;
	width:100%;
	top:0;
	z-index:15;
}

.nav{
	top:0;
	left:top;
	display:block;
	vertical-align:top;
	list-style : none;
	margin:0;
	padding-left:20%;
	background: #444;
	border-bottom:solid 1px white;
	text-align:left;
}

.partie {
	

	display: inline-block;
	padding:6px;
	font-size:20px;
	height:20px;
	vertical-align:top;
	

	
}

.partie:hover{
	
	/*background: LightCoral;*/
	background:#A7A8AA;
}

.partie a{
	
	color:white;
	text-decoration:none;
	display:block;
	position:relative;
	top: 50%; /* poussé de la moitié de hauteur du référent */
	transform: translateY(-50%); 
	padding:10px;

}

a{
	cursor:pointer;
	text-decoration: none;
	
}

body{
	
	margin:0;
	padding:0;
	
}

.boutonHautBas{
	position: absolute;
	margin:0;
	height:20px;
	font-size:20px;
	display:inline-block;
	width:20%;
	text-align:center;
	vertical-align:top;
	padding-top:6px;
	padding-bottom:6px;
	color:white;
	border-right:solid 1px white;
	z-index:10;
}

.boutonHautBas:hover{
	background:#A7A8AA;
	cursor:pointer;
}

.parent{
	
	list-style:none;
	font-size:20px;
	cursor:pointer;
	width:100%;
	display:inline-block;
	
}
.navigation ul{
	width:100%;
	display:inline-block;
	
}
ul{
	margin:0;
	padding:0;
}
.ue {
	
	border-top:solid 1px white;
	display:block;
	padding:10px;
	text-align:center;
	background-color:rgb(158,37,0);
	margin:0;
}
.ue:hover{
	color:white;
}
.module{
	border-top:solid 1px white;
}
.module p{
	border:none;
	display: block;
	padding:10px;
	text-align:center;
	background-color:#444;
	margin:0;
}
.module p:hover{
	color:white;
	cursor:pointer;
}
.semestres{
	background-color:rgb(158,37,0);
	font-size:20px;
}
a{
	cursor:pointer;
}
body {
	background-image : url(../images/fond.jpg);
	margin:0;
	padding:0;	
}
.navigation{	
	display:inline-block;
	list-style : none;
	margin:0;
	padding:0;
	position: relative;
	z-index:5;
	width:20%;
	border-bottom:solid 1px white;
	text-align:center;
	height:95.5%;
	max-height:95.3%;
	overflow: auto;
}
.conteneurGeneral{
	text-align:justify;
	display:inline-block;
	height:100%;
	position:relative;
	width: 60%;
	margin:0;
	margin-left:20%;
	margin-right:20%;
	padding:0;
	margin-top:50px;
	vertical-align:top;
}
.selection{
	display:block;
	vertical-align:top;
	list-style : none;
	margin:0;
	background: #444;
	z-index:5;
	height:4.7%;
	border-bottom:solid 1px white;
	text-align: center;

}
.type {
	display: inline-block;
	padding:8px;
	font-size:25px;
	height:20px;
	vertical-align:top;
	width:20%;
		
}
.type p {
	margin:0;
	padding:0;
	color:white;
	cursor:pointer;
}
.type:hover{
	background:#A7A8AA;
	
}
.tableau{
	border-collapse: collapse;
	margin-left: auto;
  	margin-right: auto;
  	font-size:17px;
  	
}
.enteteTableau{
	background-color: rgb(158,37,0);
	color:white;
}
.enteteTableau th{
	border:solid 1px black;
	text-align: center;
	padding-left:8px;
	padding-right:8px;
}


.champTableau td{
	
	border:solid 1px black;
	padding-left:8px;
	padding-right:8px;
	text-align:center;
}

.champTableau:hover{
	background-color:#444;
	cursor:pointer;
	color:white;
}

.champTableau p:hover{
	background-color:#A7A8AA;
}

.champTableau p{
	
	margin:0;
	display:inline-block;
	font-size:15px;
	padding-right:2px;
	padding-left:2px;
	text-decoration:underline;
	cursor:pointer;
		
}

.documents{
	text-align:center;
}

.documents table{
	margin-left:auto;
	margin-right:auto;
	width:300px;
	text-align:center;
	font-size:15px;
	cursor:pointer;
}
.documents img{
	width:70px;
}

.dateCommentaire{
	font-size:13px;
}

.enTeteCommentaire p{
	margin:0;
	padding:0;
}

.nomAuteurCommenatire{
	
	font-size:15px;
}

.commentaire{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

.enTeteCommentaire{
	padding:5px;
	border:solid 1px black;
	border-bottom:none;
	background:rgb(158,37,0);
	color:white;
}

.corpCommentaire{
		
	border:solid 1px black;
	padding-left:5px;
	padding-right:5px;
}

.creerPost{
	width:15%;
	margin-left:80%;
	margin-right:5%;
	top:50px;
	position: fixed;
	text-align:center;
}
.creerPost p{
	border:solid 1px black;
	cursor:pointer;
	margin-top:0;
	padding:5px;
}

.repondrePost{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	
}

.repondrePost h1{
	font-size:25px;
}

.editeur{
	margin-bottom:5px;
}

.monCompte{
	position :absolute; 
	margin:0; 
	right:80px;
	font-size:20px;
	padding-top:4px;
	padding-bottom:8px;
	color:white;
}

.home img{
	width:45px;
	position :absolute; 
	margin:0; 
	right:20px;
	color:white;
}

.fileArrianne {
	margin-left:10%;
	color:#444;
}

.fileArrianne2{
	color:#444;
}

.fileArrianne:hover {
	color:rgb(158,37,0);
}

.fileArrianne2:hover{
	color:rgb(158,37,0);
}

.textAreaReponse{
	width: 80%;
	height:100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    resize: none;
}
.boutonRepondre{
	float:right;
	margin-right: 9%;
	width: 100px;
	height:30px;
	background:rgb(158,37,0);
	color:white;
	border:none; 
}

.ajoutSujet{
	position : absolute;
	text-align: left;
	left:2px;
	width:20%;
}

.nom{
	margin-left:10%;
	width:90%;
}
.numero{
	margin-left:10%;
	width:90%;
}
.boutonSujet{
	
	margin-left:10%;
	width:75%;
	height:30px;
	background:rgb(158,37,0);
	color:white;
	border:none; 
}

