@CHARSET "ISO-8859-1";

@CHARSET "UTF-8";
/* Général ------------------------------------------------------------------------------------- */

body {
	background-image : url(../images/fond.jpg);
}

body,p,legend, label, input {
    font: normal 8pt;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}

header img {
	width:350px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

nav {
	width:85%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	min-width:1000px;
	margin-bottom:50px;
}

footer {
	width:85%;
	margin-left:auto;
	margin-right:auto;
	min-width:1000px;
	position:absolute;
	bottom:0;
}


.general{
	width:85%;
	margin-left:auto;
	margin-right:auto;
}
