@CHARSET "ISO-8859-1";

@CHARSET "UTF-8";
/* Général ------------------------------------------------------------------------------------- */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background-image : url(../images/fond.jpg);
	position: relative;
 	margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

body,p,legend, label, input {
    font: normal 8pt;
    font-family:  Georgia, serif;
}

header img {
	width:470px;
	display:inline;
}
header .logoiut{
	height:135px;
	width:215px;
}
header{
	
	height:135px;
	margin-left:auto;
	margin-right:auto;
	background-image : url(../images/fondbanniere.jpg);
	width:85%;
	min-width:880px;
}
nav {
	width:85%;
	min-width:880px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;

}
.general{
	width:85%;
	min-width:880px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/fondgeneral.jpg);
	padding-top:30px;
	padding-bottom:10px;
	min-height:69vh;
	margin-bottom:-24px;
}
footer {
	width:85%;
	min-width:880px;
	margin-left:auto;
	margin-right:auto;
	font-size:80%;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	margin-top:0;
	background-image:url(../images/fondgeneral.jpg);
}
