@CHARSET "ISO-8859-1";

@CHARSET "UTF-8";
/* Général ------------------------------------------------------------------------------------- */

body {
	background-image : url(../images/fond.jpg);
}

body,p,legend, label, input {
    font: normal 8pt;
    font-family:  Georgia, serif;
}

header img {
	width:470px;
	display:inline;
}
header .logoiut{
	height:135px;
	width:215px;
}
header{
	width:78%;
	height:135px;
	margin-left:auto;
	margin-right:auto;
	background-image : url(../images/fondbanniere.jpg);
	margin-top:-9px;
	min-width:1000px;
}
nav {
	width:78%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	min-width:1000px;
	margin-bottom:50px;
}

footer {
	width:78%;
	margin-left:auto;
	margin-right:auto;
	min-width:1000px;
	position:absolute;
	bottom:0;
}


.general{
	width:78%;
	margin-left:auto;
	margin-right:auto;
}
