@CHARSET "ISO-8859-1";

@CHARSET "UTF-8";
/* Barre de menu ------------------------------------------------------------------------------- */

.divmenu{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	min-width:1000px;
	margin-bottom:50px;
}

.nav 
{
	margin:auto;
	min-width:900px;
	background:#b2b580;
	padding-left:0px;
	height:39px;
}

.nav li 
{
   	display:inline;
   	color:#000;
   	background:#b2b580;
  	padding:10px 30px 10px 30px;
   	text-align:center;
	position:relative;
	top:9px;
}


.nav li:hover 
{
   color:#fff;
   background:#727454;
}
            
